@page "/cvdrisk"
@using ccBlazor.Pages
@using ViewModels
@inject ICvdRisk_ViewModel ViewModel

<h1>10 Year Cardiovascular Disease Risk Calculator</h1>

<br />

<br />

<Wizard Progress="@ViewModel.Progress" PreviousButtonDisabled="@ViewModel.PreviousButtonDisabled" NextButtonDisabled="@ViewModel.NextButtonDisabled"
        GoToPreviousStep="@ViewModel.GoToPreviousStep" GoToNextStep="@ViewModel.GoToNextStep">

    <WizardInputCard WizardStep="1" CurrentStep="@ViewModel.Step">
                     CardHeader="Step 1 of 7"
                     CardTitle="Welcome to the Framingham CVD 10 Year Risk Calculator"
                     CardText="Please select your gender to start the calculator">
        <RadioButtonList radioName="genderRadio" choices="@ViewModel.GenderChoices" currentChoice="@ViewModel.Gender" MakeChoice="@ViewModel.SetGender" />
    </WizardInputCard>
</Wizard>