@page "/generateexercise"

    <CascadingValue Value="this">
        @{ List<Data.Exercise> exercisesGen = Generateexercises(days);
            //int dayCount = 0;
            if (exercisesGen != null)
            {
                bool first = true;
                int v = 1;
                Console.WriteLine(v);
                Console.WriteLine(currentDay);
                for (int i = 0; i < exercisesGen.Count; i++)
                {


                    if (exercisesGen[i].newDay != null)
                    {
                        if (!first)
                        {
                            v++;
                        }
                        if(v == currentDay) { 
                        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
                        <p style="width:100%">               </p>
                        <div style="
                        text-align: center;
                        max-width: 100%;
                        display: inline-block;
                        " class="container">
                            <div class="row">
                                <div class="col">
                                    <h3> Dag @v :  @exercisesGen[i].newDay </h3>
                                </div>
                            </div>
                        </div>

                        }
                        first = false;
                    }
                    else
                    {
                        if (v == currentDay)
                        {
                        <p> </p>
                        <div class="exercisesTxt">
                            <span class="exercises">

                                <p style="font-weight: bold;">  @exercisesGen[i].name</p>
                                <p> Muscle targeted : @exercisesGen[i].muscle_Targeted</p>
                                <p> Equipment type : @exercisesGen[i].equipment_Type</p>
                                <p> 4 X 8</p>
                                <img src="@exercisesGen[i].src" width="200" height="200">

                            </span>
                        </div>
                        <p>   </p>
                            }
                        }
                    }
                }
            }
    </CascadingValue>
