@page "/om_deg"
@using ccBlazor.Components
@inject PersonInf_Model ViewModel

<Wizard Id="DemoWizard">
    <WizardStep Name="Ditt personalia">
        <br />
        <fieldset class="border p-2">
            <br />
            <h5 class="card-title">Vennligst fyll inn informasjon om deg</h5>

            <div class="card-body">
                <input placeholder="Navn" type="text" value="@ViewModel.name" bind="@ViewModel.name"
                       @onchange=@((_e) => ViewModel.setName(_e.Value.ToString())) />
            </div>
            <div class="card-body">
                <input placeholder="Etternavn" type="text" value="@ViewModel.surname" bind="@ViewModel.surname"
                       @onchange=@((_e) => ViewModel.setSurname(_e.Value.ToString())) />
            </div>
            <div class="card-body">
                <input placeholder="Alder" type="number" value="@(ViewModel.age != 0 ? ViewModel.age.ToString() : "" )"
                       @onchange=@((_e) =>  ViewModel.SetAge(Int16.Parse(_e.Value.ToString().Trim()))) />
            </div>
            <div class="card-body">
                <input placeholder="E-Mail" type="text" value="@ViewModel.mail" bind="@ViewModel.mail"
                       @onchange=@((_e) => ViewModel.SetMail(_e.Value.ToString())) />
            </div>
            <div class="card-body">

                <input placeholder="Høyde" type="number" value="@(ViewModel.height != 0 ? ViewModel.height.ToString() : "" )"
                       @onchange=@((_e) => ViewModel.SetHeight(Int16.Parse(_e.Value.ToString().Trim()))) />
            </div>
            <div class="card-body">

                <input placeholder="Vekt" type="number" value="@(ViewModel.weight != 0 ? ViewModel.weight.ToString() : "" )"
                       @onchange=@((_e) => ViewModel.SetWeight(Int16.Parse(_e.Value.ToString().Trim()))) />
            </div>

            <div class="card-body">
                <div class="btns">
                    <h6 class="card-title">Velg kjønn</h6>
                    <div class="kjonn">
                        <label>
                            <input type="radio" name="genderRadio" id="optionsRadios2" value="Male"
                                   @onchange=@((_e) => ViewModel.SetGender(_e.Value.ToString()))
                                   checked=@(ViewModel.gender=="Male") />


                            <i class="zmdi zmdi-male-alt zmdi-hc-5x"></i>
                        </label>
                    </div>
                    <div class="kjonn">
                        <label>
                            <input type="radio" name="genderRadio" id="optionsRadios1" value="Female"
                                   @onchange=@((_e) => ViewModel.SetGender(_e.Value.ToString()))
                                   checked=@(ViewModel.gender=="Female")>
                            <i class="zmdi zmdi-female zmdi-hc-5x"></i>
                        </label>

                    </div>
                </div>
            </div>

        </fieldset>
        <br />
    </WizardStep>

    <WizardStep Name="Aktivitetsnivå og ønsket mål">
        <br />
        <fieldset class="border p-2">
            <h5 class="card-title"> Aktivitetsnivå</h5>
            <div class="containerBody">
                <ul class="ks-cboxtags">
                    <li>
                        <input type="radio" id="Minimal"
                               value="1"
                               @onchange=@((_e) => ViewModel.setActivityLevel(_e.Value.ToString()))
                               checked=@(ViewModel.activityLevel == 1)><label for="Minimal">Minimalt, lite er eller ingen aktivitet </label>
                    </li>
                    <li>
                        <input type="radio" id="Moderat" value="2"
                               @onchange=@((_e) => ViewModel.setActivityLevel(_e.Value.ToString()))
                               checked=@(ViewModel.activityLevel == 2)><label for="Moderat">Moderat, Gjenomsnittet aktiv</label>
                    </li>
                    <li>
                        <input type="radio" id="active" value="3"
                               @onchange=@((_e) => ViewModel.setActivityLevel(_e.Value.ToString()))
                               checked=@(ViewModel.activityLevel == 3)><label for="active">Aktiv, i bevegelse mesteparten av dagen</label>
                    </li>
                </ul>
            </div>

            <h5 class="card-title">Velg dine mål</h5>
            <div class="containerBody">
                <ul class="ks-cboxtags">
                    <li><input type="checkbox" id="Vektnedgang" @bind="@ViewModel.weightLoss"><label for="Vektnedgang">Vektnedgang</label></li>
                    <li><input type="checkbox" id="Muskeløkning" @bind="@ViewModel.muscleIncrease"><label for="Muskeløkning">Muskeløkning</label></li>
                    <li><input type="checkbox" id="Vedlikehold" @bind="@ViewModel.maintenance"><label for="Vedlikehold">Vedlikehold</label></li>
                    <li><input type="checkbox" id="Fettreduksjon" @bind="@ViewModel.fatLoss"><label for="Fettreduksjon">Fettreduksjon</label></li>
                </ul>
            </div>



        </fieldset>
        <br />
    </WizardStep>


    <WizardStep Name="Muskelgrupper">
        <br />
        <fieldset class="border p-2">

            <h5 class="card-title"> Velg dine svake punkter </h5>
            <div class="card-body">
                <div class="boxBody" style="background-image:url(@bodyPart)">
                    <div class="containerBody">
                        <ul class="ks-cboxtags2">
                            <li>
                                <input type="checkbox" @bind="@ViewModel.weaknessShoulder" id="Skuldre" />
                                <label for="Skuldre" @onmouseover="@skuldre" @onmouseout="neutral"> Skuldre</label>
                            </li>
                            <li>
                                <input type="checkbox" @bind="@ViewModel.weaknessBack" id="Rygg" />
                                <label for="Rygg" @onmouseover="@rygg" @onmouseout="neutral"> Rygg</label>
                            </li>
                            <li>
                                <input type="checkbox" @bind="@ViewModel.weaknessChest" id="Bryst" />
                                <label for="Bryst" @onmouseover="@bryst" @onmouseout="neutral"> Bryst</label>
                            </li>
                            <li>
                                <input type="checkbox" @bind="@ViewModel.weaknessArms" id="Armer" />
                                <label for="Armer" @onmouseover="@armer" @onmouseout="neutral"> Armer</label>
                            </li>
                            <li>
                                <input type="checkbox" @bind="@ViewModel.weaknessCore" id="kjernen" />
                                <label for="kjernen" @onmouseover="@kjernen" @onmouseout="neutral"> Kjernen</label>
                            </li>
                            <li>
                                <input type="checkbox" @bind="@ViewModel.weaknessAss" id="Rumpe" />
                                <label for="Rumpe" @onmouseover="@rumpe" @onmouseout="neutral"> Rumpe</label>
                            </li>
                            <li>
                                <input type="checkbox" @bind="@ViewModel.weaknessLegs" id="Bein" />
                                <label for="Bein" @onmouseover="@bein" @onmouseout="neutral"> Bein</label>
                            </li>
                        </ul>
                        <br />
                    </div>
                </div>
            </div>
        </fieldset>
        <br />
    </WizardStep>



    <WizardStep Name="Dager">
        <br />
        <fieldset class="border p-2">
   
            <h5 class="card-title"> Antall trenings dager i uken</h5>
            <div class="containerBody">
                <ul class="ks-cboxtags4">
                    @for(int i = 1; i <= 7; i++){
                    <li>
                        <input type="radio" id="@i" value="@i"
                               @onchange=@((_e) => ViewModel.setTrainingDays(_e.Value.ToString()))
                               checked=@(ViewModel.trainingDays == @i)>
                        <label for="@i">@i</label>
                    </li>
                    }
                </ul>
            </div>


            <h6 class="card-title"> Velg dine ønskede treningsdager </h6>
            <div class="card-body">
                <div class="containerBody">
                    <ul class="ks-cboxtags3">
                        <li>
                            <input type="checkbox" id="monday" value="monday"
                            @onchange=@((_e) => ViewModel.setPreferedDays("monday",(bool)_e.Value))
                           disabled="@((ViewModel.trainingDays <= ViewModel.preferedDays.Count) && !ViewModel.preferedDays.Contains("monday"))"
                             checked=@(ViewModel.preferedDays.Contains("monday"))       />
                            <label for="monday"> Mandag</label>
                        </li>
                        <li>
                            <input type="checkbox" id="tuesday" value="tuesday"
                                     @onchange=@((_e) => ViewModel.setPreferedDays("tuesday",(bool)_e.Value))
                           disabled="@((ViewModel.trainingDays <= ViewModel.preferedDays.Count) && !ViewModel.preferedDays.Contains("tuesday"))"
                                  checked=@(ViewModel.preferedDays.Contains("tuesday"))  />
                            <label for="tuesday"> Tirsdag</label>
                        </li>
                        <li>
                            <input type="checkbox" id="wednesday" value="wednesday"
                                     @onchange=@((_e) => ViewModel.setPreferedDays("wednesday",(bool)_e.Value))
                               disabled="@((ViewModel.trainingDays <= ViewModel.preferedDays.Count) && !ViewModel.preferedDays.Contains("wednesday"))"
                                checked=@(ViewModel.preferedDays.Contains("wednesday"))   />
                            <label for="wednesday"> Onsdag</label>
                        </li>
                        <li>
                            <input type="checkbox" id="thursday" value="thursday"
                                     @onchange=@((_e) => ViewModel.setPreferedDays("thursday",(bool)_e.Value))
                           disabled="@((ViewModel.trainingDays <= ViewModel.preferedDays.Count) && !ViewModel.preferedDays.Contains("thursday"))"
                             checked=@(ViewModel.preferedDays.Contains("thursday"))      /> 
                            <label for="thursday"> Torsdag</label>
                        </li>
                        <li>
                            <input type="checkbox" id="friday" value="friday"
                                     @onchange=@((_e) => ViewModel.setPreferedDays("friday",(bool)_e.Value))
                            disabled="@((ViewModel.trainingDays <= ViewModel.preferedDays.Count) && !ViewModel.preferedDays.Contains("friday"))"
                            checked=@(ViewModel.preferedDays.Contains("friday"))      /> 
                            <label for="friday"> Fredag</label>
                        </li>
                        <li>
                            <input type="checkbox" id="saturday" value="saturday"
                                     @onchange=@((_e) => ViewModel.setPreferedDays("saturday",(bool)_e.Value))
                                disabled="@((ViewModel.trainingDays <= ViewModel.preferedDays.Count) && !ViewModel.preferedDays.Contains("saturday"))"
                                checked=@(ViewModel.preferedDays.Contains("saturday"))   /> 
                            <label for="saturday"> Lørdag</label>
                        </li>
                        <li>
                            <input type="checkbox" id="sunday"  value="sunday"
                                     @onchange=@((_e) => ViewModel.setPreferedDays("sunday",(bool)_e.Value))
                            disabled="@((ViewModel.trainingDays <= ViewModel.preferedDays.Count) && !ViewModel.preferedDays.Contains("sunday"))"
                                checked=@(ViewModel.preferedDays.Contains("sunday"))   /> 
                            <label for="sunday"> Søndag</label>
                        </li>
                    </ul>
                    <br />
                </div>
            </div>


        </fieldset>
        <br />
    </WizardStep>
    <WizardStep Name="Kosthold">
        <br />
        <fieldset class="border p-2">
            <h5 class="card-title"> Kosthold preferanser </h5>
            <br/>
            <div class="containerBody">
                <h6 class="card-title"> Har du allergier? </h6>
                <ul class="ks-cboxtags4">
                    <li>
                        <input type="radio" id="allergies" @onclick="() => allergies = true"
                               checked="@allergies" />
                        <label for="allergies"> Yes </label>
                    </li>

                    <li>
                        <input type="radio" id="noAllergies" @onclick="() => allergies = false"
                               checked="@(!allergies)" />
                        <label for="noAllergies"> No </label>
                    </li>

                </ul>
                @if (allergies)
                {
                    <div class="card-body">
                        <h6 class="card-title"> Legg inn allergier </h6>
                        <input class="allergyInput"  placeholder="allergi" type="text" @bind="allergy" />
                        <button type="button" class="btn btn-primary" @onclick="addAllergy"> legg til </button>
                        <ul class="ks-cboxtagsAllergies">
                            @foreach (var allergy in ViewModel.allergys)
                            {
                                <li>
                                    <input type="checkbox" id="@allergy" value="@allergy" @onclick="() => ViewModel.removeAllergy(allergy)" />
                                    <label for="@allergy"> @allergy</label>

                                </li>


                            }
                        </ul>

                    </div>
                }
                <h5 class="card-title"> Er det noe mat du ikke liker? </h5>
                <ul class="ks-cboxtags4">
                    <li>
                        <input type="radio" id="dislikeFood" @onclick="() => foodDislikes = true"
                               checked="@foodDislikes" />
                        <label for="dislikeFood"> Yes </label>
                    </li>

                    <li>
                        <input type="radio" id="likeFood" @onclick="() => foodDislikes = false"
                               checked="@(!foodDislikes)" />
                        <label for="likeFood"> No </label>
                    </li>

                </ul>
                @if (foodDislikes)
                {
            <div class="card-body">
                <h6 class="card-title"> Legg inn mat </h6>
                <input class="allergyInput" placeholder="" type="text" @bind="dislike" />
                <button type="button" class="btn btn-primary" @onclick="addDislikes"> legg til </button>
                <ul class="ks-cboxtagsAllergies">
                    @foreach (var dislikeVar in ViewModel.disLikes)
                    {
                        <li>
                            <input type="checkbox" id="@dislikeVar" value="@dislikeVar" @onclick="() => ViewModel.removeDislike(dislikeVar)" />
                            <label for="@dislikeVar"> @dislikeVar</label>

                        </li>


                    }
                </ul>

            </div>
                }
                <h5 class="card-title"> Velg antall måltider per dag </h5>
                <ul class="ks-cboxtags4">
                    @for (int i = 1; i <= 7; i++)
                    {
                        <li>
                            <input type="radio" id="@i" value="@i"
                                   @onchange=@((_e) => ViewModel.setMealAmount(_e.Value.ToString()))
                                   checked=@(ViewModel.mealAmount == @i)>
                            <label for="@i">@i</label>
                        </li>
                    }
                </ul>
            </div>
        </fieldset>
        <br />
    </WizardStep>
</Wizard>

@code {


    private static string[] bodyParts = {  "Img/Skulder.jpg", "Img/Rygg.jpg",
                        "Img/Bryst.jpg", "Img/Armer.jpg", "Img/Kjernen.jpg",
                        "Img/Rumpe.jpg", "Img/Bein.jpg",
                        "Img/Neutral.jpg" };

    private String allergy;

    public String dislike;

    public bool allergies { get; set; } = false;

    public bool foodDislikes { get; set; } = false;

    public void addAllergy()
    {
        if (!string.IsNullOrWhiteSpace(allergy))
        {
            ViewModel.addAllergy(char.ToUpper(allergy[0]) + allergy.Substring(1));
            allergy = String.Empty;
        }

    }

    public void addDislikes()
    {
        if (!string.IsNullOrWhiteSpace(dislike))
        {
            ViewModel.addDislikes(char.ToUpper(dislike[0]) + dislike.Substring(1));
            dislike = String.Empty;
        }

    }


    private string bodyPart = bodyParts[7];
    public void skuldre()
    {
        this.bodyPart = bodyParts[0];
    }
    public void rygg()
    {
        this.bodyPart = bodyParts[1];
    }
    public void bryst()
    {
        this.bodyPart = bodyParts[2];
    }
    public void armer()
    {
        this.bodyPart = bodyParts[3];
    }
    public void kjernen()
    {
        this.bodyPart = bodyParts[4];
    }

    public void rumpe()
    {
        this.bodyPart = bodyParts[5];
    }

    public void bein()
    {
        this.bodyPart = bodyParts[6];
    }
    public void neutral()
    {
        this.bodyPart = bodyParts[7];
    }

    public void checkDays(EventArgs eventArgs)
    {

    }


} 